<section id="about" class=" bg-second  justify-content-center align-items-center">
    <div class="text-center text-white container ">
        <h2 class="text-uppercase fw-bolder mb-3">about component</h2>

        <app-star></app-star>

        <div class="d-flex text-start gap-3 mb-3">
            <p>
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </p>

            <p>
                Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
            </p>
        </div>
    </div>

</section>